<h2>Profile</h2>
<%= form_for(@user) do |f| %>
    <div>
        <label>Name</label>
        <%= f.text_field :username %>
        <span></span>
    </div>  
    <div>
    	<div>
        <%= attachment_image_tag @user, :profile_image %>
        </div>
        <label>Image</label>
    <%= f.attachment_field :profile_image %>
        <label>Introduction</label>
        <%= f.text_field :introduction %>
    </div>                                                                      
    <%= f.submit "Update User" %>
<% end %>